<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>

<body>
    <div class="cabecera">
        <h1>Iniciar Sesión</h1>
        <h1>¡Bienvenido a DogeHoot-X!</h1>
    </div>
    <form class="formulario" action="{{ url_for('procesar_login')}}" method="post">
        <div class="f-fila">
            <span>Correo electrónico</span>
            <input type="email" placeholder="Ingresa email">
        </div>
        <div class="f-fila">
            <span>Contraseña</span>
            <input type="password" placeholder="Ingresa contraseña">
        </div>
    </form>
</body>

</html>